@charset "utf-8";
#slider {
	/*height: 100%; 	 overflow:hidden;*/   
	min-height: 700px;	
	position:relative;
	width:100%;
	margin: 0 auto;
	border-radius:4px;
	border: 2px solid black;
	float:center;
	}
#image {
	min-height: 700px;
	height:100%;
	width:100%;
	position:absolute;
}

.left_hold {
	height: 100%;
	width: 7%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 100%;
	width: 7%;
	position: absolute;
	top: 0px;
	right: 0px;
        
}
.left {
	height:5%;
	width:25%;
	position:absolute;
	top:40%;
	left:5%;
	opacity:0.2;
	transition: all .2s ease-in-out 0s;
        border: 10px solid black;
	}
.right {
	height:5%;
	width:25%;
	position:absolute;
	top:40%;
	right:5%;
	opacity:0.2;
	transition: all .5s ease-in-out 0s;
        border: 10px solid black;
	}
.left_hold:hover .left {
	opacity:0.6;
        border: 10px solid red;
	}
.right_hold:hover .right {
	opacity:0.6;
        border: 10px solid red;
}

.slider_description {
	padding: 0px;
	height: 7%;
	width: 50%;
	position: absolute;
	bottom: 0px;
	left: 25%;
	background-color: rgba(70,109,29, 0.85);
	text-align: center; 
	border-radius: 30px 30px 0px 0px;
	
}

.slider_title {
	margin: 0;
	color:white;
}

.slider_intro {
	padding: 0 10px 0 10px;
	height: 15%;
	width: 40%;
	position: absolute;
	top: 2%;
	left: 30%;
	background-color: rgba(70,109,29, 0.85);
	text-align: center; 
	border-radius: 30px 30px 30px 30px;
	
}

.slider_intro_text {
	font-size: 20px;
	color:white;
	text-align: justify;
}