@charset "utf-8";
#intro {    
    font-family: Arial;
    font-size: calc(3pt + 1vw);
    font-style: normal;
    font-variant: normal;     
    width: 70%;
    margin: 0 auto;
    text-indent: 2%;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 2%;
    margin-top: 2%;
}

.search_park_form_div {
	margin:10px auto;
	max-width: 400px;
	font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.search_park_form_div input[type=search],
select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	


}

.search_park_form_div input[type=search]:focus,
.search_park_form_div select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.search_park_form_div button {
	background: #4B99AD;
	border: none;
	color: #fff;
	margin: 0 auto;
	padding: 7px 7px;
	display:block;
}
.search_park_form_div button:hover {
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.search_park_form_div label {
	font-weight: bold;
	width: 30%;
}

.search_park_form_div .field-long {
	width: 70%;
}

.form_lines {
	display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
	margin: 10px 0 10px 0;
	
}

.form_lines #search_click {
	text-align:center;
}

.results {
	padding: 30px 20px 20px 20px;
	width: 80%;
	margin: 0 auto;
	height: 20%;
	position: relative;
	display: none;
	overflow: auto;
}

.results .top-level {
  margin: 3px 0 10px 0;
  text-decoration: none;
  transition: background-color .3s;
  display: block;
}

.top-level:hover {
  background-color: #ffffed;
}

.no_results {
	color: red;
}